# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/changelog.txt
/LICENSE.txt
/forge-1.16.4-35.1.28-mdk.zip
/CREDITS.txt
/.gradle/
/.idea/
/build/
/gradle/
/logs/
/run/
/README.txt
